<div id="header" ng-controller="signupController">
  <nav class="navbar navbar-default gradient" role="navigation">
    <div class="container">
      <div class="navbar-header row">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/secciones">
          <img id="navbar-img" src="img/logo-blanco.png">
        </a>
      </div>
      <div class="collapse navbar-collapse navheader" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-menu">
          <li><a href="#/documentos">Documentos</a>
          </li>
          <li><a href="#/blog">Blog</a>
          </li>
          <li><a href="#/foro">Foro</a>
          </li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input id="textbox" type="text" class="form-control" placeholder="Buscar en Google" onkeydown="if (event.keyCode == 13 || event.which == 13) { window.open('http://www.google.com/search?q=' + encodeURIComponent(document.getElementById('textbox').value)); document.getElementById('textbox').value = '';}"/>
          </div>
          <span id="searchGlyph" class="glyphicon glyphicon-search" onclick="window.open('http://www.google.com/search?q=' + encodeURIComponent(document.getElementById('textbox').value)); document.getElementById('textbox').value = '';"></span>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#/denuncias" ng-show="usuarioLogueado.idRol == 16">Inbox <span class="badge">42</span></a></li>
          <li><a class="nombre">{{usuarioLogueado.nombre}}</a>
          </li>
          <li>
            <a href="javascript:void(0);" id="profilePic" data-container="body" data-toggle="popover" data-placement="bottom">
              <img ng-src="phpConexion/login/{{usuarioLogueado.foto}}" class="img-responsive img-circle fotica" alt="Foto de usuario" width="35px" height="35px">
            </a>
          </li>
          <li><a class="salir" ng-click="salir()" href="#">Salir</a>
          </li>
        </ul>
        <div class="modal fade" id="cambiarcontrasena" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm row" id="cambiarcontra">
            <div class="modal-content col-centered cambiarcontrasena" data-ng-app="cambiocon">
              <form class="cambiocontra form-signin" role="form" pb-autologin="true" autocomplete="on" name="cambiocontrasena" novalidate ng-submit="cambiarcontrasena()" id="esperar">

                <p class="cambiocontrasena">Por favor ingrese su contraseña actual:</p>
                <input type="password" class="form-control input-login" placeholder="Contraseña actual" name="contrasena" ng-model="signup.contrasena" ng-minlength=3 ng-maxlength=10 required />

                <p class="cambiocontrasena">Por favor ingrese su contraseña nueva:</p>
                <input ng-model="user.password" class="form-control input-login" placeholder="Contraseña nueva" type="password" ng-minlength=3 ng-maxlength=10 name="password" data-ng-class="{'ng-invalid':cambiocontrasena.confirmPassword.$error.match}" required />

                <p class="cambiocontrasena">Por favor repita su contraseña nueva:</p>
                <input ng-model="user.passwordConfirm" class="form-control input-login" placeholder="Repita contraseña nueva" type="password" ng-minlength=3 ng-maxlength=10 data-match="user.password" name="confirmPassword" required/>

                <div data-ng-show="cambiocontrasena.confirmPassword.$error.match">
                  <small class="error5">Las contraseñas no son iguales!</small>
                </div>

                <div class="error-container" ng-show="cambiocontrasena.contrasena.$dirty && cambiocontrasena.contrasena.$invalid">
                  <small class="error4" ng-show="cambiocontrasena.contrasena.$error.required">Por favor ingrese su contraseña actual</small>
                  <small class="error4" ng-show="cambiocontrasena.contrasena.$error.minlength">Su contraseña debe tener al menos 3 caracteres</small>
                  <small class="error4" ng-show="cambiocontrasena.contrasena.$error.maxlength">Su contraseña no puede tener mas de 20 caracteres</small>
                </div>

                <input type="submit" class="btn btn-success btn-sx" value="Cambiar contraseña" pb-role="submit" ng-click="funcionesperar()" />
              </form>
            </div>
            <div id="errorcontrasena2">
              <div class="alert alert-danger" role="alert">
                <label>Favor ingrese correctamente sus contraseñas</label>
              </div>
            </div>
            <div id="success2">
              <div class="alert alert-success" role="alert">
                <label>Su contraseña fue actualizada</label>
              </div>
            </div>
          </div>
          <!-- div-modal dialog -->
        </div>
        <!-- div-modal fade -->
        <div class="modal fade" id="cambiarfoto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm row">
            <div class="modal-content cambiarfoto">
              <form class="cambiarfoto form-signin" role="form" action="phpConexion/login/cambiarFoto.php" method="post" enctype="multipart/form-data">
                <div class="modal-header margen-modal-header">
                  <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                  </button>
                  <h4 class="modal-title">Escoja su nueva foto</h4>
                </div>
                <div class="modal-body">
                  <input type="file" name="foto" class="filestyle" data-buttonText="Cambiar foto" accept=".jpg, .png, .gif, .jpeg" ng-click="ocultarError()" />
                  <span class="errorArchivo">Seleccione una imagen</span>
                  <input type="hidden" name="idUsuario" value="{{usuarioLogueado.id}}" />
                </div>
                <div class="modal-footer">
                  <input type="submit" name="submit" class="btn btn-success" value="Guardar los cambios"></input>
                </div>
              </form>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
      </div>
      <!-- div-cambiarfoto -->
    </div>
    <!-- div-collapse -->
</div>
<!-- div-container -->
</nav>
</div>
<script type="text/javascript">
  $('.navbar-menu li a').on('click', function() {
      $(this).parent().parent().find('.active').removeClass('active');
      $(this).parent().addClass('active');
  });
</script>
