<div id="header" ng-controller="signupController">
  <nav class="navbar navbar-default gradient" role="navigation">
    <div class="container">
      <div class="navbar-header row">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/secciones">
          <img id="navbar-img" src="img/logo-blanco.png">
        </a>
      </div>
      <div class="collapse navbar-collapse navheader" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-menu">
          <li><a href="#/documentos">Documentos</a>
          </li>
          <li><a href="#/blog">Blog</a>
          </li>
          <li><a href="#/foro">Foro</a>
          </li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <span id="searchGlyph" class="glyphicon glyphicon-search"></span>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><a class="nombre">{{usuarioLogueado.nombre}}</a>
          </li>
          <li>
            <a href="javascript:void(0);" id="profilePic" data-container="body" data-toggle="popover" data-placement="bottom">
              <img src="{{usuarioLogueado.foto}}" class="img-responsive img-circle fotica" alt="Foto de usuario" width="35px">
            </a>
          </li>
          <li><a class="salir" href="#">Salir</a>
          </li>
        </ul>
        <div class="modal fade" id="cambiarcontrasena" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm row" id="cambiarcontra">
            <div class="modal-content col-centered cambiarcontrasena" data-ng-app="cambiocon">
              <form class="cambiocontra form-signin" role="form" pb-autologin="true" autocomplete="on" name="cambiocontrasena" novalidate ng-submit="cambiarcontrasena()" id="esperar">

                <p class="cambiocontrasena">Por favor ingrese su contraseña actual:</p>
                <input type="password" class="form-control input-login" placeholder="Contraseña actual" name="contrasena" ng-model="signup.contrasena" ng-minlength=3 ng-maxlength=10 required />

                <p class="cambiocontrasena">Por favor ingrese su contraseña nueva:</p>
                <input ng-model="user.password" class="form-control input-login" placeholder="Contraseña nueva" type="password" ng-minlength=3 ng-maxlength=10 name="password" data-ng-class="{'ng-invalid':cambiocontrasena.confirmPassword.$error.match}" required />

                <p class="cambiocontrasena">Por favor repita su contraseña nueva:</p>
                <input ng-model="user.passwordConfirm" class="form-control input-login" placeholder="Repita contraseña nueva" type="password" ng-minlength=3 ng-maxlength=10 data-match="user.password" name="confirmPassword" required/>

                <div data-ng-show="cambiocontrasena.confirmPassword.$error.match">
                  <small class="error5">Las contraseñas no son iguales!</small>
                </div>

                <div class="error-container" ng-show="cambiocontrasena.contrasena.$dirty && cambiocontrasena.contrasena.$invalid">
                  <small class="error4" ng-show="cambiocontrasena.contrasena.$error.required">Por favor ingrese su contraseña actual</small>
                  <small class="error4" ng-show="cambiocontrasena.contrasena.$error.minlength">Su contraseña debe tener al menos 3 caracteres</small>
                  <small class="error4" ng-show="cambiocontrasena.contrasena.$error.maxlength">Su contraseña no puede tener mas de 20 caracteres</small>
                </div>

                <input type="submit" class="btn btn-success btn-sx" value="Cambiar contraseña" pb-role="submit" ng-click="funcionesperar()" />
              </form>
            </div>
            <div id="errorcontrasena2">
              <div class="alert alert-danger" role="alert">
                <label>Favor ingrese correctamente sus contraseñas</label>
              </div>
            </div>
            <div id="success2">
              <div class="alert alert-success" role="alert">
                <label>Su contraseña fue actualizada</label>
              </div>
            </div>
          </div>
          <!-- div-modal dialog -->
        </div>
        <!-- div-modal fade -->
      </div>
      <!-- div-collapse -->
    </div>
    <!-- div-container -->
  </nav>
</div>
<script>
$(".salir").on('click', function(){
  $('body').load();  
}); 
</script>
