 <div id="loading"></div>
<div class="container" ng-controller="blogController" style="overflow-x: hidden;">
  <div class="row">

    <!--HEADER-->
    <div class="col-md-3 well borde-perfil">
      <div class="datosPerfil">
        <a class="enlace">
          <img src="phpConexion/login/{{usuarioActualFoto}}" alt="Avatar" class="img-circle center-block borde-img-perfil" width="140" height="140">
        </a>
        <p class="name text-center enlace">{{usuarioActual}}</p>
      </div>
      <div>
      </div>
    </div>

    <!-- Buscador -->
    <div class="col-md-6 distancia-blog-header">
      <div id="foroHeader">
        <div class="row">
          <div class="foroHeader blogHeader col-md-12 col-centered-no-margin">
            <div class="divImg clearfix">
              <div class="imgForoHeader">
                <h1>Blog Personal</h1>
              </div>
            </div>
            <form class="navbar-form navbar-left centered navbar-form-blog" role="search">
              <div id="prueba" class="form-group ui-widget">
                <input id="tags" type="email" ng-click="buscarNombres()" class="form-control inputForoHeader center-block" placeholder="Búsqueda por correo de Cenfotec" required>
              </div>
              <span type="button" id="searchGlyph" class="glyphicon glyphicon-search" ng-click="mostrarBlogs()"></span>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">

    <!-- Posts por fecha columna izquierda -->
    <div ng-show="visible" class="col-md-3 col-responsive">
      <div class="row margen-new" ng-repeat="usuario in publicacionesUsuario" data-toggle="modal" data-target=".{{'myModalPublicacionCompleta'+$index}}" ng-click="obtenerComentarios($index)" style="cursor:pointer">
        <div class="col-md-3">
          <div class="noticias">
            <strong class="date">{{usuario.fecha | date:'dd/MM/yy'}}</strong>
          </div>
        </div>
        <div class="col-md-9">{{usuario.tema}}</div>
      </div>
    </div>

    <!-- Posts por fecha columna izquierda los que no sean estudiantes-->
    <div ng-show="!visible" class="col-md-3 col-responsive">
      <div style="text-align:center; margin-bottom:30px;">
        <strong class="date">Entradas recientes:</strong>
      </div>
      <div class="row margen-new" ng-click="mostrarBlogsEstudiantes($index)" ng-repeat="usuario in publicaciones | limitTo: 10" data-toggle="modal" style="cursor:pointer">
        <div class="col-md-3">
          <div class="noticias">
            <strong class="date">{{usuario.fecha | date:'dd/MM/yy'}}</strong>
          </div>
        </div>
        <div class="col-md-9">{{usuario.tema}}</div>
      </div>
    </div>

    <!-- Nueva publicación -->
    <div class="col-md-5 col-responsive">
      <div class="distancia-publicacion-blog">

        <div id="alertNoUsuario" class="alert alert-danger hidden" role="alert">
          <strong>¡Usuario no encontrado!</strong> Revise que el correo sea correcto.
        </div>
        <div id="alertVacio" class="alert alert-warning hidden" role="alert">
          <strong>¡Ningún dato ingresado!</strong> Ingrese un correo para buscar.
        </div>

        <div>
          <!-- Button trigger modal -->
          <button ng-show="visibleBlog" class="btn btn-default btn-publicacion col-md-offset-4" data-toggle="modal" data-target="#modalNuevaPublicacion">Nueva publicación</button>

          <!-- Modal Nueva Publicación -->
          <div class="modal fade" id="modalNuevaPublicacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header margen-modal-header">
                  <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                  </button>
                  <h4 class="modal-title" id="myModalLabel">Ingrese una nueva publicación</h4>
                </div>
                <div class="modal-body">
                  <div class="body">
                    <label for="tittle" style="width:70%">Tema
                      <input type="text" id="idPublished" placeholder="Tema" class="form-control" ng-model="tituloPublicacion">
                    </label>
                    <textarea name="Publicacion" id="textPublished" cols="50" class="form-control" rows="10" placeholder="Ingrese su publicación" ng-model="contenidoPublicacion"></textarea>
                  </div>
                </div>
                <div class="modal-footer margen-modal-footer">
                  <input type="submit" class="btn btn-default" ng-click="nuevaPublicacion()" value="Publicar">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- PUBLISHED -->
        <div ng-show="visible" style="height: 710px; overflow-y: scroll;">
          <div ng-show="visible" ng-repeat="usuario in publicacionesUsuario"> <!-- | startFrom:currentPage*pageSize | limitTo:pageSize" -->
            <div class="table-bordered clearfix width-texto margen" id="{{usuario.id}}">
              <div class="nav" data-toggle="modal" ng-click="obtenerComentarios($index)" data-target=".{{'myModalPublicacionCompleta'+$index}}" style="cursor:pointer">
                <h4>{{usuario.tema}}</h4>
                <div class="ordenar-links margen-info">
                  <span class="links-blog">{{usuarioActual}} /</span>
                  <span class="links-blog">{{usuario.fecha | date:'dd/MM/yy'}}</span>
                </div>
              </div>
              <div class="contenido-blog clearfix">
                <p>{{usuario.descripcionPublicacion | limitTo:200}}...</p>
                <div class="ordenar-links distancia-links-blog margen-nav">
                  <ul class="navigator navigator-resposivo">
                    <li>
                      <a class="links-blog links-blog-color" data-toggle="modal" ng-href=".{{'myModalComentar'+$index}}" style="cursor:pointer">Comentario</a>
                    </li>
                    <li class="no-margin-right">
                      <!-- Button trigger modal editar publicación -->
                      <a ng-show="visibleBlog" class="links-blog links-blog-color" data-toggle="modal" ng-href=".{{'myModalEditarPublicacion'+$index}}" style="cursor:pointer">Editar publicación</a>
                    </li>
                    <li>
                      <a ng-click="compartirRedes()" id="facebook" href="" data-type="facebook" data-url="<?php echo get_permalink(); ?>" data-description="{{usuario.descripcionPublicacion}}" data-via="{{usuarioActual}}" class="prettySocial ir sprite"></a>
                      <!-- <a href="https://es-es.facebook.com/" class="ir sprite" id="facebook">Facebook</a> -->
                    </li>
                    <li>
                      <a ng-click="compartirRedes()" id="googleplus" href="" data-type="googleplus" data-url="<?php echo get_permalink(); ?>" data-description="{{usuario.descripcionPublicacion}}" data-via="{{usuarioActual}}" class="prettySocial ir sprite"></a>
                      <!-- <a href="https://plus.google.com/" class="ir sprite" id="googleplus">Google+</a> -->
                    </li>
                    <li>
                      <a ng-click="compartirRedes()" id="twitter" href="" data-type="twitter" data-url="<?php echo get_permalink(); ?>" data-description="{{usuario.descripcionPublicacion}}" data-via="{{usuarioActual}}" class="prettySocial ir sprite"></a>
                      <!-- <a href="https://twitter.com/" class="ir sprite" id="twitter">Twitter</a> -->
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- Modal Editar Publicación -->
            <div class="modal fade" ng-class="'myModalEditarPublicacion'+$index" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header margen-modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                      <span aria-hidden="true">&times;</span>
                      <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Editar publicación</h4>
                  </div>
                  <div class="modal-body">
                    <div class="body">
                      <label for="tittle" style="width:70%">Tema
                        <input type="text" id="title" placeholder="Tema" class="form-control" ng-model="usuario.tema">
                      </label>
                      <textarea name="Publicacion" id="idPublicacion" cols="50" class="form-control" rows="10" placeholder="Ingrese su comentario" ng-model="usuario.descripcionPublicacion"></textarea>
                    </div>
                  </div>
                  <div class="modal-footer margen-modal-footer">
                    <button type="button" class="btn" data-dismiss="modal" ng-click="guardarTema($index)">Aceptar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Modal para ver publicación completa -->
            <div class="modal fade" ng-class="'myModalPublicacionCompleta'+$index" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header margen-modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                      <span aria-hidden="true">&times;</span>
                      <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">{{usuario.tema}}</h4>
                  </div>
                  <div class="modal-body">
                    <div class="body">
                      <p style="word-wrap: break-word;">{{usuario.descripcionPublicacion}}</p>
                    </div>
                    <div class="commment-appears">
                      <p class="center">Comentarios</p>
                      <ul>
                        <li style="word-wrap: break-word;" ng-repeat="comentario in comentarios">{{comentario.descripcion}}</li>
                      </ul>
                    </div>
                  </div>
                  <div class="modal-footer margen-modal-footer">
                    <form name="formComentario">
                      <input type="text" id="inputComment" placeholder="Comentar" class="form-control" ng-model="$parent.agregarComentario" required>
                      <button type="button" class="btn btn-default margen-comment" ng-disabled="formComentario.$invalid" ng-click="nuevoComentario($index)">Comentar</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <!-- Modal Comentario -->
            <div class="modal fade" id="myModal2" ng-class="'myModalComentar'+$index" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header margen-modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                      <span aria-hidden="true">&times;</span>
                      <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Comentario</h4>
                  </div>
                  <form name="formModalComentario">
                    <div class="modal-body">
                      <div class="body">
                        <label for="tittle">{{usuario.title}}</label>
                        <textarea name="Publicacion" id="idPublicacion" cols="50" class="form-control" rows="10" placeholder="Ingrese su comentario" ng-model="$parent.agregarComentario" required></textarea>
                      </div>
                    </div>
                    <div class="modal-footer margen-modal-footer">
                      <button type="button" class="btn" data-dismiss="modal" ng-disabled="formModalComentario.$invalid" ng-click="nuevoComentario($index)">Aceptar</button>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div> <!-- PUBLISHED -->
        </div>

        <div ng-show="!visible">
          <div class="divUltimosBlogs">
            <h1 class="tituloUltimosBlogs">Entradas recientes</h1>
            <label class="lblDescripcionBlogs">A continuación se muestran las entradas recientes en los blogs</label>
          </div>
          <div class="panel-group" id="accordion">
            <div ng-repeat="blog in publicaciones | limitTo: 10" class="panel panel-default">
              <div class="panel-heading clearfix">
                <h4 class="panel-title tituloUltimoBlogAdentro">
                  <a data-toggle="collapse" data-target=".{{'mostrarCollapse'+$index}}" data-parent="#accordion" href="">
                    {{blog.tema}}
                  </a>
                </h4>
                <label class="date">Autor: </label>
                <a class="links-blog links-blog-color" ng-click="mostrarBlogsEstudiantes($index)" style="cursor:pointer">{{blog.autor}}</a>
                <label class="date lblFecha">Fecha: {{blog.fecha | date:'dd/MM/yy'}}</label>
              </div>
              <div ng-class="'mostrarCollapse'+$index" class="panel-collapse collapse">
                <div class="panel-body">
                  {{blog.descripcionPublicacion}}
                </div>
              </div>
            </div>
          </div>
        </div>


        <!-- Pagination -->
        <!-- <div ng-show="visible" class="container">
          <div class="row row-centered">
            <div class="pagination pagination-blog col-md-5">
              <button class="btn btn-default btn-sm" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">Anterior</button>
            {{currentPage+1}}/{{numberOfPagesTemas()}}
            <button class="btn btn-default btn-sm" ng-disabled="currentPage >= publicacionesUsuario.length/pageSize - 1" ng-click="currentPage=currentPage+1">Siguiente</button>
            </div>
          </div>
        </div> --> <!-- Pagination -->

      </div>
    </div>

    <!--TRENDNG TOPIC-->
    <div class="col-md-4 col-responsive trending-blog">
  <div class="foro-trending col-md-12 col-md-offset-1 margen-trending">
    <!-- Foro trending topic -->
    <div class="trending-header distancia-topic">
      <img src="img/estrella-doc.png" class="estrella-doc">
      <h3>Documentos más votados</h3>
      <img src="img/estrella-doc.png" class="estrella-doc2">
    </div>
    <div class="trending-topic table-bordered clearfix" ng-repeat="documento in documentos | orderBy:'-votos' | limitTo: 5">
      <div class="trending-content-header">
        <div class="trending-number col-md-2">
          <h3>{{$index+1}}</h3>
        </div>
        <div class="trending-name">
          <a href="#" class="purple">{{documento.titulo}}</a>
          </br>
          <span>{{documento.autor}} /</span>
          <span>{{documento.fecha}} /</span>
          <span>{{documento.peso}}</span>
        </div>
        <div class="trending-stars">
          <a href="#" ng-class="marca(1, documento.votos)"></a>
          <a href="#" ng-class="marca(2, documento.votos)"></a>
          <a href="#" ng-class="marca(3, documento.votos)"></a>
          <a href="#" ng-class="marca(4, documento.votos)"></a>
          <a href="#" ng-class="marca(5, documento.votos)"></a>
        </div>
      </div>
      <div class="trending-content">
        <p>{{documento.descripcion}}</p>
      </div>
      <div class="trending-footer">
        <a href="#" class="gray" ng-click="visualizarDoc($index)">Ver documento</a>
      </div>
    </div>
  </div>

  </div>
</div>

