<div class="container" id="conf">
  <div class="jumbotron">
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#/configuracion">Agregar Usuario</a></li>
      <li ><a href="#/editar">Usuarios</a></li>
      <li><a href="#">Documentos</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Foro</a></li>
    </ul>
    <div class="row">
      
        <form class="form-horizontal col-md-12" role="form" name="saveTemplateData" ng-controller="FormCtrl" ng-submit="submitForm()">
        <div class="col-md-6">
      
        <h3>Datos Usuario</h3>
        <div class="form-group">
            <label class="col-lg-2 control-label">Nombre</label>
            
            <div class="col-lg-10">
              
              <input  name="firstName" type="text" ng-model="form.firstname"class ="form-control"required/>

              <span class="error1" ng-show="saveTemplateData.firstName.$error.required">required</span>
            
            </div>
          </div>
        <div class="form-group">
            <label  class="col-lg-2 control-label">Apellidos</label>
            <div class="col-lg-10">
              
              <input type="text" class="form-control" name="lastName" ng-model="form.lastName"required/>
              <span class="error" ng-show="saveTemplateData.lastName.$error.required">required</span>
            </div>
          </div>
        
        <div class="form-group">
            <label for="email" class="col-lg-2 control-label">Correo</label>
            <div class="col-lg-10">
              <input type="email" class="form-control" name="email"  ng-model="form.email"required/>
              <span class="error1" ng-show="saveTemplateData.email.$error.required">required</span>
              <span class="error" ng-show="saveTemplateData.email.$error.email">invalid email</span>
            </div>
          </div>

        
        
    </div>
    <div class="col-md-6">
      <h3>Datos Academicos</h3>
      <div class="form-group"  ng-controller="MyNivel">
          <label class="col-lg-2 control-label">Nivel</label>
        <div class="col-lg-10">
          <select ng-options="nivel.code as nivel.name for nivel in niveles" ng-model="form.nivel" class="form-control" required>
          <option style="display:none" value="">seleccione el Nivel</option>
          </select>
        </div>
        </div>
        <div class="form-group" ng-controller="MyRol">
          <label class="col-lg-2 control-label">Rol</label>
        <div class="col-lg-10">
          <select ng-options="rol.code as rol.name for rol in roles" ng-model="form.rol" class="form-control" required>
          <option style="display:none" value="">seleccione el Rol </option>
          </select>
        </div>
      </div>
      <div class="form-group" ng-controller="Mycarrera">
          <label class="col-lg-2 control-label">Carrera</label>
        <div class="col-lg-10">
          <select ng-options="carrera.code as carrera.name for carrera in carreras" ng-model="form.carrera" class="form-control" ng-change="optionChanged()"required>
          <option style="display:none" value="">seleccione la carrera</option>
          </select>
        </div>
      </div>
      <div class="form-group" ng-controller="Mycurso" id="Web" >
          <label class="col-lg-2 control-label">Curso</label>
        <div class="col-lg-10">
          <select ng-options="curso.code as curso.name for curso in cursos" ng-model="form.curso" class="multiselect form-control" multiple="multiple">
          <option style="display:none" value=""> Seleccione el curso</option>
          </select>
          <div class="NuevosCuros"></div>
        </div>
      </div><!-- cursos -->
      <div class="form-group" ng-controller="Mycurso1" id="sofware">
          <label  class="col-lg-2 control-label">Curso</label>
        <div class="col-lg-10">
          <select ng-options="curso1.code as curso1.name for curso1 in cursos1" ng-model="form.curso1" class="form-control" >
          <option style="display:none" value=""> Seleccione el curso</option>
          </select>
        </div>
      </div><!-- cursos -->
      <div class="form-group" ng-controller="Mycurso2" id="Tecnologias">
          <label  class="col-lg-2 control-label">Curso</label>
        <div class="col-lg-10">
          <select ng-options="curso2.code as curso2.name for curso2 in cursos2" ng-model="form.curso2" class="form-control" >
          <option style="display:none" value=""> Seleccione el curso</option>
          </select>
        </div>
      </div><!-- cursos -->
      <div class="form-group" ng-controller="Mycurso3" id="Telematica">
          <label  class="col-lg-2 control-label">Curso</label>
        <div class="col-lg-10">
          <select ng-options="curso3.code as curso3.name for curso3 in cursos3" ng-model="form.curso3" class="form-control">
          <option style="display:none" value=""> Seleccione el curso</option>
          </select>
        </div>
      </div><!-- cursos -->
      
      <div class="form-group" ng-controller="Mycurso4" id="Ciberseguridad">
          <label  class="col-lg-2 control-label">Curso</label>
        <div class="col-lg-10">
          <select ng-options="curso4.code as curso4.name for curso4 in cursos4" ng-model="form.curso4" class="form-control">
          <option style="display:none" value=""> Seleccione el curso</option>
          </select>
        </div>
      </div><!-- cursos -->
      <div class="form-group" ng-controller="Mycurso5" id="Datos">
          <label class="col-lg-2 control-label">Curso</label>
        <div class="col-lg-10">
          <select ng-options="curso5.code as curso5.name for curso5 in cursos5" ng-model="form.curso5"class="form-control" >
          <option style="display:none" value=""> Seleccione el curso</option>
          </select>
        </div>
      </div><!-- cursos -->

      <div class="form-group" ng-controller="Mycurso6" id="ingles">
          <label class="col-lg-2 control-label">Curso</label>
        <div class="col-lg-10">
          <select ng-options="curso6.code as curso6.name for curso6 in cursos6" ng-model=" form.curso6" class="form-control">
          <option style="display:none" value=""> Seleccione el curso</option>
          </select>
        </div>
      </div><!-- cursos -->
      
      <button type="button" id ="chek">Mas Opciones</button>
     <button type="submit" class="btn btn-default pull-right" n ngClick="Submit()" id="agregar">Guardar</button>
    </form>
   
     
      </div>
  </div>
</div>
    