<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <form>
          <label>Nombre</label>
          <input type ="text" value="Erick Snachez Zuñiga" class="form-control"id="nombre">
          <label>Correo</label>
          <input type ="email" value="erick@ucenfotec.ac.cr" class="form-control">
          <label>Correo</label>
          <input type ="text" value="12345" class="form-control">
           <label>Rol</label>
           <select class="form-control">
            <option>Estudiante</option>
            <option>Profesor</option>
            <option>Director de Carrera</option>
            <option>Rector</option>
          </select>
          <label>Nivel</label>
           <select class="form-control">
            <option>Técnico</option>
            <option>Diplomado</option>
            <option>Bachiller</option>
            <option>Maestria</option>
          </select>
          <label>Carreras</label>
           <select class="form-control">
            <option>Diseño Web</option>
            <option>CiberSeguridad</option>
            <option>Desarrollo de Sofware</option>
            <option>Inglés</option>
          </select>
          <label>Cursos</label>
           <select class="form-control">
            <option>Programación</option>
            <option>Inglés</option>
            <option>Tecnologias Avanzadas</option>
            <option>Dase de Datos</option>
          </select>
          


        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="save"class="btn btn-primary"  data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Eliminar Usuario</h4>
                </div>
                <div class="modal-body">
                    <p>Esta Seguro que desea eliminar a este usuario</p>
                    <p class="debug-url"></p>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button"class="btn btn-success"  id="eliminar" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>


<div class="container" id="conf" ng-controller="FormCtrl">
  <div class="jumbotron">
    <ul class="nav nav-tabs" role="tablist">
      <li><a href="#/configuracion">Agregar Usuario</a></li>
      <li class="active" ><a href="#/editar">Usuarios</a></li>
    </ul>
    <div class="row">
      <table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Rol</th>
            <th>Contrase&ntilde;a</th>
            <th>Nivel</th>
            <th>Carrera</th>
            <th>Cursos</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
      <div ng-repeat="personalInfo in datos">
        <tr id="{{personalIfo.idusuario}}">
            <td>Erick Sanchez Zuñiga</td>
            <td>erick@ucenfotec.ac.cr</td>
            <td>Estudiante</td>
            <td>12345</td>
            <td>Técnico</td>
            <td>Diseño Web</td>
            <td>Inglés,Proyecto1,Diseño Visual 1</td>
            <td><button class="btn btn-success" id="editar"data-toggle="modal" data-target="#myModal"> <span class="glyphicon glyphicon-pencil" ></span></button></td>
            
            <td><button type="button" class="btn btn-danger"data-toggle="modal" data-target="#confirm-delete"> <span class="glyphicon glyphicon-minus-sign"></span></button></td>
        </tr>
      </div>  
    </tbody>
</table>
</div>
</div>
</div>
<script type="text/javascript" src="js/editar.js"></script>
