




<div class="container" id="conf" ng-controller="FormCtrl">
  <div class="jumbotron">
    <ul class="nav nav-tabs" role="tablist">
      <li><a href="#/configuracion">Agregar Usuario</a></li>
      <li class="active" ><a href="#/editar">Usuarios</a></li>
    </ul>
    <div class="row">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Rol</th>
            <th>Contrase&ntilde;a</th>
            <th>Nivel</th>
            <th>Carrera</th>
            <th>Cursos</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody ng-repeat="usuario in listaUsuarios">
          <tr>
            <td>{{usuario.nombre}} {{usuario.primerApellido}} {{usuario.segundoApellido}}</td>
            <td>{{usuario.email}}</td>
            <td>{{usuario.idRol}}</td>
            <td>{{usuario.contrasena}}</td>
            <td>{{usuario.nivelUniversitario}}</td>
            <td>{{usuario.carrera}}</td>
            <td>{{usuario.cursos}}</td>
            <td>
              <button class="btn btn-success" id="editar" data-toggle="modal" data-target=".{{'myModalEditar'+$index}}">
                <span class="glyphicon glyphicon-pencil" ng-click="submitModificar()"></span>
              </button>


              <!-- Modal -->
              <div class="modal fade" ng-class="'myModalEditar'+$index" id="myModalEditarUsuario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header clearfix">
                      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                      <h4 class="modal-title" id="myModalLabel">Editar Usuario</h4>
                    </div>
                    <div class="modal-body">
                      <form>
                        <label>Nombre</label>
                        <input type ="text" ng-model="usuario.nombre" class="form-control"id="nombre">
                        <label>Primer Apellido</label>
                        <input type ="text" ng-model="usuario.primerApellido" class="form-control"id="nombre">
                        <label>Segundo Apellido</label>
                        <input type ="text" ng-model="usuario.segundoApellido" class="form-control"id="nombre">
                        <label>Correo</label>
                        <input type ="email" ng-model="usuario.email" class="form-control">
                        <label>Contraseña</label>
                        <input type ="text" ng-model="usuario.contrasena" class="form-control">
                        <label>Rol</label>
                        <select class="form-control">
                          <option>Estudiante</option>
                          <option>Profesor</option>
                          <option>Director de Carrera</option>
                          <option>Rector</option>
                        </select>
                        <label>Nivel</label>
                        <select class="form-control">
                          <option>Técnico</option>
                          <option>Diplomado</option>
                          <option>Bachiller</option>
                          <option>Maestría</option>
                        </select>
                        <label>Carreras</label>
                        <select class="form-control">
                          <option>Diseño Web</option>
                          <option>CiberSeguridad</option>
                          <option>Desarrollo de Sofware</option>
                          <option>Inglés</option>
                        </select>
                        <label>Cursos</label>
                        <select class="form-control">
                          <option>Programación</option>
                          <option>Inglés</option>
                          <option>Tecnologias Avanzadas</option>
                          <option>Dase de Datos</option>
                        </select>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                      <button type="button" id="save"class="btn btn-primary" data-dismiss="modal" ng-click="guardarDatosUsuario($index)">Guardar cambios</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Modal -->


            </td>
            <td>
              <button type="button" class="btn btn-danger" data-toggle="modal" data-target=".{{'myModalEliminar'+$index}}">
                <span class="glyphicon glyphicon-minus-sign"></span>
              </button>


              <!-- Modal -->
              <div class="modal fade" ng-class="'myModalEliminar'+$index" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">

                    <div class="modal-header clearfix">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title" id="myModalLabel">Eliminar Usuario</h4>
                    </div>
                    <div class="modal-body">
                      <p>¿Está seguro que desea eliminar a este usuario?</p>
                    </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                      <button type="button"class="btn btn-success" ng-click="eliminarUsuario($index)" id="eliminar" data-dismiss="modal">Aceptar</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Modal -->


            </td>
          </tr>





        </tbody>


      </table>
    </div>
  </div>
</div>

<script type="text/javascript" src="js/editar.js"></script>
