<div id="foroHeader">
  <div class="container">
    <div class="row row-centered">
      <div class="foroHeader col-md-6 col-centered">
        <div class="divImg clearfix">
          <div class="row">
            <div class="col-md-5 col-md-offset-5">
              <div class="imgForoHeader imagenForo"><h1>Foro</h1></div>
            </div>
          </div>
        </div>
        <form class="navbar-form navbar-left centered navbar-form-foro" role="search">
          <div class="form-group">
            <input type="text" class="form-control inputForoHeader" placeholder="Buscar comentario" ng-model="query">
          </div>
          <span id="searchGlyph" class="glyphicon glyphicon-search visible"></span>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="foro-content"  ng-controller="ForoTopicController as foro" class="forototal">



  <!-- Modal Comentario -->
  <div class="modal fade" ng-class="'myModalForoComment'+$index" id="myModalForoComment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header clearfix">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
          <h4 class="modal-title">Ingrese un comentario</h4>
        </div>
        <form class="form-horizontal" role="form" name="formAgregarComentario">
          <div class="modal-body clearfix">
            <textarea class="form-control" rows="10" placeholder="Ingrese un comentario" ng-model="comentario" ng-minlength="10" required></textarea>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-purple" ng-click="agregarComentario()" data-dismiss="modal" ng-disabled="formAgregarComentario.$invalid">Aceptar</button>
            <button type="button" class="btn btn-default btn-closeModalPopover" data-dismiss="modal">Cancelar</button>
          </div>
        </form>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <div class="container">
    <div class="row">
      <!-- Foro container left -->
      <div class="foro-container col-md-7">
        <div id="alertComentarioForo" class="alert alert-success" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <strong>¡Excelente!</strong> Su comentario se ha agregado satisfactoriamente.
        </div>
        <div id="alertDenunciaForo" class="alert alert-success" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <strong>¡Gracias!</strong> Su denuncia se ha enviado satisfactoriamente y será revisada por un encargado.
        </div>
        <div class="foro-container-header clearfix">
          <h3>{{foro.tema}}</h3>
          <div style="clear:both;margin-top:10px;">

            <p>{{foro.descripcion}}</p>
          </div>
          <button type="button" class="btn btn-default nuevo-tema" data-toggle="modal" ng-href="#myModalForoComment" id="btnComentar" ng-show="puedeComentar">Comentar tema</button>
          <br>
          <h5>Comentarios</h5>
        </div>
        <div class="tema-foro" ng-repeat="comentario in comments | startFrom:currentPage*pageSize | limitTo:pageSize | filter:query">

          <div class="modal fade" ng-class="'myModalForoDenuncia'+$index" id="myModalForoDenuncia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header clearfix">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                  <h4 class="modal-title">Ingrese su denuncia</h4>
                </div>
                <form class="form-horizontal" role="form" name="formAgregarDenuncia">
                  <div class="modal-body clearfix">
                    <textarea type="text" class="form-control" rows="10" placeholder="Ingrese su denuncia" ng-model="$parent.denuncia" ng-minlength="10" required></textarea>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-purple" ng-click="agregarDenuncia(comentario.idComentarioxTema)" data-dismiss="modal" ng-disabled="formAgregarDenuncia.$invalid">Aceptar</button>
                    <button type="button" class="btn btn-default btn-closeModalPopover" data-dismiss="modal">Cancelar</button>
                  </div>
                </form>
              </div><!-- /.modal-content -->

            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->


          <table class="tema-foro table table-bordered">
            <tbody>
              <tr>
                <td class="col-md-1 text-center">
                  <img src="phpConexion/login/{{comentario.foto}}" class="img-foro img-responsive img-circle" alt="Responsive image">
                  <span class="gray" ng-show="visible">{{comentario.nombre}}</span></br>
                </td>
                <td class="comment-content col-md-5">
                  <div>
                    <h4>{{comentario.titulo}}</h4>
                    <p class="p-comment">{{comentario.descripcion}}</p>
                  </div>
                  <div class="clearfix">
                    <div class="stars-comment clearfix" ng-show="!isDisabled" >

                      <div ng-init="rating = star.rating + (comentario.estrellas == null ? 1 : comentario.estrellas)"></div>
                      <div class="star-rating" star-rating rating-value="rating" mg-model="estrellas" data-min="0" data-max="5" on-rating-selected="rateFunction(rating, comentario.idComentarioxTema, comentario.estrellas)" ></div>
                      
                    </div>
                    <div class="buttons-comment">
                      <button type="button" class="pink btn btn-default btn-xs" data-toggle="modal" ng-href="#myModalForoDenuncia">Denunciar</button>
                    </div>
                  </div>
                </td>
                <td class="col-md-1 text-center">
                  <span>{{comentario.info}}</span>
                  <div ng-init="rating2 = star.rating + (comentario.promedioCalificacion == null ? 1 : comentario.promedioCalificacion)"></div>
                  <div class="star-rating" star-rating rating-value="rating2" mg-model="estrellas2" data-min="0" data-max="5"></div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div> <!-- Foro container left -->
      <div class="foro-trending col-md-4 col-md-offset-1" ng-controller="foroController"> <!-- Foro trending topic -->
        <div class="trending-header">
        <img src="img/estrella-doc.png" class="estrella-doc">
          <h3>Comentarios más votados</h3>
          <img src="img/estrella-doc.png" class="estrella-doc2">
        </div>
        <div class="trending-topic table-bordered clearfix" ng-repeat="comentario in comments | limitTo: 5 | orderBy:'-promedioCalificacion' ">
          <div class="trending-content-header">
            <div class="trending-number col-md-2">
              <h3>{{$index+1}}</h3>
              <h3>{{comentario.titulo}}</h3>
            </div>
            <div class="trending-name">
              <a href="" class="purple">{{comentario.descripcion}}</a></br>
              <span>{{comentario.fecha}}{{comentario.titulo}}</span>
            </div>
           <span>{{comentario.info}}</span>

                  <div ng-init="rating2 = star.rating + (comentario.promedioCalificacion == null ? 1 : comentario.promedioCalificacion)">
                  
                  </div>
                  <div class="star-rating estrellas-promedio" star-rating rating-value="rating2" mg-model="estrellas2" data-min="0" data-max="5"></div>

          </div>
          <div class="trending-content">
            <p>{{tema.contenido}}</p>
          </div>
         
        </div>
      </div> <!-- Foro trending topic -->
    </div>
  </div>
  <div class="container">
    <div class="row row-centered">
      <div class="pagination col-md-7">
        <button class="btn btn-default btn-sm" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">Anterior</button>
        {{currentPage+1}}/{{numberComments()}}
        <button class="btn btn-default btn-sm" ng-disabled="currentPage >= comments.length/pageSize - 1" ng-click="currentPage=currentPage+1">Siguiente</button>
      </div>
    </div>
  </div>
</div> <!-- container -->
</div>









<!-- Modal Denuncia -->


<script src="js/popover.js"></script>
<script src="js/modal-foro.js"></script>

