<div class="container altura">
  <div class="row-centered clearfix altura">
    <div class="col-md-4 secciones">
      <figure class="documento img"></figure>
        <aside class="seccion">
          <h2><small>Sección de</small></h2>
          <h2>Documentos</h2>
          <p class="text-left">Esta sección provee de todos los documentos creados por y para los estudiantes.</p>
        </aside>
      <a href="#/documentos" id="blogBtn"><button class="btn-block btn center-block btn-success" id="seccionBtn">Ingresar</button></a>
    </div>
    <div class="col-md-4 secciones">
      <figure class="blog img"></figure>
        <aside class="seccion">
          <h2><small>Sección de</small></h2>
          <h2>Blog</h2>
          <p class="text-left">Esta sección te da acceso al su blog como estudiante.</p>
        </aside>
      <a href="#/blog" id="blogBtn"><button class="btn-block btn center-block btn-success" id="seccionBtn">Ingresar</button></a>
    </div>
    <div class="col-md-4 secciones">
      <figure class="foro img"></figure>
        <aside class="seccion">
          <h2><small>Sección de</small></h2>
          <h2>Foro</h2>
          <p class="text-left">Esta sección puede accesar a los foros de los estudiantes.</p>
        </aside>
      <a href="#/foro" id="blogBtn"><button class="btn-block btn center-block btn-success" id="seccionBtn">Ingresar</button></a>
    </div>
  </div>
</div>