<div id="foroHeader">
  <div class="container">
    <div class="row row-centered">
      <div class="foroHeader col-md-6 col-centered">
        <div class="divImg clearfix">
          <div class="row">
          <div class="col-md-5 col-md-offset-5">
              <div class="imgForoHeader"><h1>Foro</h1></div>
            </div>
          </div>
        </div>
        <form class="navbar-form navbar-left centered" role="search">
          <div class="form-group">
            <input type="text" class="form-control inputForoHeader" placeholder="Buscar">
          </div>
          <span id="searchGlyph" class="glyphicon glyphicon-search"></span>
        </form>
      </div>
    </div>
  </div>
</div>