
  <div id="foroHeader">
    <div class="container">
      <div class="row row-centered">
        <div class="foroHeader col-md-6 col-centered">
          <div class="divImg clearfix">
            <div class="imgForoHeader"></div>
            <h1>Documentos</h1>
          </div>
          <form class="navbar-form navbar-left centered" role="search">
            <div class="form-group">
              <input type="text" class="form-control inputForoHeader" placeholder="Buscar">
            </div>
            <span id="searchGlyph" class="glyphicon glyphicon-search"></span>
             <div class="btn">
              <button type="button" class="btn btn-default boton">Agregar</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-lg-offset-1">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-md-12">                           
              <h2 class="titulo titulo-tamano">Titulo de documento</h2>                 
            </div>
            <div class="star-rating col-md-12 col-estrellas-puntuar">
              <div class="col-md-8 col-estrellas-puntuar">
                <a href="#" class="glyphicon glyphicon-star stars"></a>
                <a href="#" class="stars glyphicon glyphicon-star"></a>
                <a href="#" class="stars glyphicon glyphicon-star"></a>
                <a href="#" class="stars glyphicon glyphicon-star"></a>
                <a href="#" class="stars glyphicon glyphicon-star"></a>
                <span>autor/tema/tamaño del documento</span>
              </div>
              <div class="col-md-4 ordenar_puntuar">
                <a href="#" class="glyphicon glyphicon-star stars"></a>
                <a href="#" class="stars glyphicon glyphicon-star"></a>
                <a href="#" class="stars glyphicon glyphicon-star"></a>
                <a href="#" class="stars glyphicon glyphicon-star"></a>
                <a href="#" class="stars glyphicon glyphicon-star distancia"></a>
                <div class="btn-group">
                  <button type="button" class="boton-regresar btn btn-default">Puntuar</button>
                </div>
                
              </div>
            </div>                         
          </div>
        </div>

      </div>  
       <div class="col-md-12 cuadro-documento">
      <div id="documento">
      <div class="col-md-2">
        <button type="button" class="boton_volver btn btn-default"></button>
      </div>
      <div class="col-md-8">
         <h4>Titulo documento</h4>
       <p> Al contrario del pensamiento popular, el texto de Lorem Ipsum no es simplemente texto aleatorio. Tiene sus raices en una pieza cl´sica de la literatura del Latin, que data del año 45 antes de Cristo, haciendo que este adquiera mas de 2000 años de antiguedad. Richard McClintock, un profesor de Latin de la Universidad de Hampden-Sydney en Virginia, encontró una de las palabras más oscuras de la lengua del latín, "consecteur", en un pasaje de Lorem Ipsum, y al seguir leyendo distintos textos del latín, descubrió la fuente indudable. Lorem Ipsum viene de las secciones 1.10.32 y 1.10.33 de "de Finnibus Bonorum et Malorum" (Los Extremos del Bien y El Mal) por Cicero, escrito en el año 45 antes de Cristo. Este libro es un tratado de teoría de éticas, muy popular durante el Renacimiento. La primera linea del Lorem Ipsum, "Lorem ipsum dolor sit amet..", viene de una linea en la sección 1.10.32
       </p>
      </div>
      <div class="col-md-2 ">
        <button type="button" class="boton-descargar btn btn-default"></button>
      </div>
       
      </div>
    </div>    
    </div>
    </div>
   
  
